body{
    background-image: url("olav-ahrens-rotne-MAEbdaFe4ps-unsplash.jpg");
    background-size:cover;
}
#difficulty{
    text-align: center;
    font-style: inherit;
    font-size: 30px;
    font-style: italic;
    
}
#heading{
    text-align: center;
    font-size: 50px;
    font-style: oblique;

  
}



